APP_NAME=DhakaCart API
DEBUG=false

DATABASE_URL=postgresql+psycopg://postgres:postgres@localhost:5432/dhakacart
REDIS_URL=redis://localhost:6379/0
MONGODB_URL=mongodb://localhost:27017
MONGODB_DB=dhakacart
OPENSEARCH_URL=http://localhost:9200

JWT_SECRET_KEY=change-me-in-production-use-32-plus-chars
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7